@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --nextui-primary-foreground: 18.930000000000007 83.17% 60.39%;
  --nextui-primary-50: 13.74 88.76% 92.75%;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.6rem;
  line-height: 3rem;
}

h4 {
  font-size: 1.4rem;
  line-height: 3rem;
}

h5 {
  font-size: 1.2rem;
  line-height: 3rem;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 3rem;
}

/* Screenreader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}